.task {
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: red;
}

.task__title {
  margin-bottom: 35px;
}

.task__text {
  font-size: 22px;
}

@media(max-width: 768px){
  .task {
    padding: 0 0 15px 0;
  }
  
  .task__title {
    margin-bottom: 25px;
    font-size: 30px;
  }
  
  .task__text {
    font-size: 22px;
  }
}